<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>adminList</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">

	<script type="text/javascript" th:inline="javascript">
        var info = [[${msg}]];
        if(info != null && info != '' && info != undefined && info != 'null'){
            alert(info);
        }
    </script>

</head>
<body th:style="'background:url('+@{/img/bg1.jpg}+');'">
<div th:replace="~{commons/commons::topbar}"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="~{commons/commons::sidebar(active='dormitoryList.html')}"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <!--<h2><a class="btn btn-sm btn-success" th:href="@{stus}">添加</a></h2>-->
			<h2><a class="btn btn-sm btn-success" th:href="@{addDormitory}">添加宿舍</a></h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>宿舍号</th>
						<th>楼号</th>
						<th>地址</th>
                        <th>总床位</th>
                        <th>已入住床位</th>
                        <th>空余床位</th>
						<th>余额</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--<span th:each="dormitory:${dormitories}">-->
                        <tr  th:each="status:${statuses}">
                        <td th:text="${status.getDid()}"></td>
						<td th:text="${status.getBid()}"></td>
						<td th:text="${status.getDname()}"></td>
                        <td th:text="${status.getBeds()}"></td>
                        <td th:text="${status.getCurrentBeds()}"></td>
                        <td th:text="${status.getFreeBeds()}"></td>
						<td th:text="${status.getFee()}"></td>
						<td>
                            <a class="btn btn-sm btn-primary" th:href="@{/dormitorydetial/}+${status.getDid()}">查看</a>
							<a class="btn btn-sm btn-primary" th:href="@{/updateDormitory/}+${status.getDid()}">修改</a>
                            <a class="btn btn-sm btn-danger" th:href="@{/delDormitory/}+${status.getDid()}">删除</a>
                        </td>
                        </tr>
                    <!--</span>-->

                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>
        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="asserts/js/jquery-3.2.1.slim.min.js"></script>
<script type="text/javascript" src="asserts/js/popper.min.js"></script>
<script type="text/javascript" src="asserts/js/bootstrap.min.js"></script>

<!-- Icons -->
<script type="text/javascript" src="asserts/js/feather.min.js"></script>
<script>
    feather.replace()
</script>

<!-- Graphs -->
<script type="text/javascript" src="asserts/js/Chart.min.js"></script>
<script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
            datasets: [{
                data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
                lineTension: 0,
                backgroundColor: 'transparent',
                borderColor: '#007bff',
                borderWidth: 4,
                pointBackgroundColor: '#007bff'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            },
            legend: {
                display: false,
            }
        }
    });
</script>
</body>
</html>